<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Software de Atención al Cliente</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="logo.png" alt="Logo de la Empresa">
    </div>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <aside class="sidebar">
    <ul>
      <li><a href="#">Chat en Vivo</a></li>
      <li><a href="histrorial_solicitudes.html">Historial de Solicitudes</a></li>
      <li><a href="#">Configuración</a></li>
    </ul>
  </aside>

  <main>
    <h1>Bienvenido al Software de Atención al Cliente</h1>
    <p>Este es un software diseñado para mejorar la experiencia del cliente al proporcionar herramientas eficientes para gestionar consultas, quejas y comentarios. Nuestro objetivo es garantizar la satisfacción del cliente al ofrecer un servicio rápido y eficaz.</p>
    
    <h2>Contacto</h2>
    <form id="contactForm">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required><br><br>
      
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required><br><br>
      
      <label for="message">Mensaje:</label><br>
      <textarea id="message" name="message" rows="4" required></textarea><br><br>
      
      <button type="submit">Enviar</button>
    </form>
  </main>

  <footer>
    <p>&copy; 2024 ServicioPlusGachas. Todos los derechos reservados.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>